:root {
    --red: #9e0000;
    --gray: #7f879f40;
}

body {
    align-items: flex-start;
}

.exclamation {
    font-size: 5em;
    color: var(--red);
}

.container {
    padding: 2rem;
}

h2 {
    font-size: 4em;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2em;
}

textarea {
    border: none;
    box-shadow: #00000022 5px 5px 30px;
    padding: 1em;
}

button {
    background: var(--red) !important;
}
