<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="../../public/css/global-style.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="../../public/css/login-page/login-form.css"
        />
        <title>Zaloguj się</title>
    </head>
    <body>
        <div class="container">
            <form action="">
                <h1>Zaloguj się</h1>
                <label for="login">Login</label>
                <input type="text" name="login" id="" />

                <br>
                <label for="password">Hasło</label>
                <input type="password" name="password" id="">
                <br>
                &nbsp
                <button type="submit">Zaloguj</button>
            </form>
        </div>
    </body>
</html>
