<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="../../public/css/global-style.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="../../public/css/malfunction-page/malfunction-page.css"
        />
        <title>Zgłoś awarie</title>
    </head>
    <body>
        <div class="container">
            <form action="">
                <h1 class="exclamation">!</h1>
                <h1>Zgłoś awarie</h1>
                <label for="login">Wybierz ładowarke</label>
                <select type="" name="login" id="">
                    <option value="">Szklarska Poręba ul. Mickiewicza 30</option>
                    <option value="">Karpacz ul. Batorego 66</option>
                    <option value=""><b>Jelenia góra ul. Józefa Piłsudskiego 15</option>
                    </select>
                <br />
                &nbsp
                <button type="submit">Zgłoś</button>
            </form>
        </div>
    </body>
</html>
