.container {
    width: 100%;
    height: 100vh;
    padding: 2em;
    overflow-y: scroll;
}

.charger-list {
    font-size: 1.2rem;
}

.charger-list .charger-localisation {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.charger-list th {
    text-align: left;
}

.charger-list td,
.charger-list th {
    padding-right: 4em;
    padding-bottom: 1em;
}

.charger-list .charger .charger-available::before {
    content: "";
    color: #01ae70;
    font-weight: bold;
}

.charger-list .charger .charger-available {
    color: #01ae70;
    font-weight: bold;
}

.charger-list .charger .charger-unavailable {
    color: #b20000;
    font-weight: bold;
}

.charger-list .charger .charger-closed {
    color: #b20000;
    font-weight: bold;
}

.charger-list .charger .charger-price::after {
    content: " zł";
}

.charger-list .charger .separator {
    height: 2.5rem;
    border-left: 1px solid #9e9e9e;
    width: 1px;
}

.charger-list tbody {
    overflow-y: scroll;
    padding-bottom: 2em;
    margin-bottom: 2em;
}
